<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='./css/styles.css'> <!relative path-->
    
    <body>
      <h1>{{>header}}</h1>
      <h2>Created by {{name}}</h2>
      <form>
        <input placeholder='location'>
        <button>search</button>
      </form>
      <p id="msg"></p>
      <script src='/js/app.js'></script> <!absolute path-->
      
    </body>
  </head>
</html>